/**
 * Author: Amey Thakur
 * GitHub: https://github.com/Amey-Thakur
 *
 * Author: Mega Satish
 * GitHub: https://github.com/msatmod
 *
 * Author: Hasan Rizvi
 * GitHub: https://github.com/rizvihasan
 *
 * Project: QUADTREE-VISUALIZER
 * Group: Phi-CS-73
 * Batch: 2022
 * Repo: https://github.com/Amey-Thakur/QUADTREE-VISUALIZER
 * Date: 2022-04-25
 * License: MIT
 *
 * Developed as part of the BE Major-Project @ Terna Engineering College.
 *
 * Defines the specific styles for the `ControlBar` component.
 * Implements the slide-out mechanism (transitions), parameter grouping, and custom
 * form control aesthetics (sliders, toggles) to match the project's minimalist theme.
 */

@import "../styles/Home.module.scss";

.control_bar {
  >div {
    position: absolute;
    top: $navPadTop;
    left: 0;
    z-index: 100;
    background-color: $color4;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .minimized {
    cursor: pointer;
    height: $tabSize;
    width: $tabSize;
    display: flex;
    justify-content: center;
    align-items: center;

    >svg {
      transition: color 0.5s ease;

      &:hover {
        color: $color2;
      }
    }
  }

  .panel {
    width: 200px;
    padding: 14px;
    padding-top: 0;
    display: flex;
    flex-direction: column;

    #top_control {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      >p {
        font-size: 1.25rem;
        font-weight: 600;
        width: 100%;
      }

      >svg {
        cursor: pointer;
        transition: color 0.5s ease;

        &:hover {
          color: $color2;
        }
      }
    }

    #options {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;

      .section_header {
        margin: 0.6rem 0;
        font-weight: bold;
      }

      .data_title {
        font-size: 0.85rem;
      }
    }
  }
}