/**
 * Author: Amey Thakur
 * GitHub: https://github.com/Amey-Thakur
 *
 * Author: Mega Satish
 * GitHub: https://github.com/msatmod
 *
 * Author: Hasan Rizvi
 * GitHub: https://github.com/rizvihasan
 *
 * Project: QUADTREE-VISUALIZER
 * Group: Phi-CS-73
 * Batch: 2022
 * Repo: https://github.com/Amey-Thakur/QUADTREE-VISUALIZER
 * Date: 2022-04-25
 * License: MIT
 *
 * Developed as part of the BE Major-Project @ Terna Engineering College.
 *
 * Defines the style rules for the `ProjectHeader` component.
 * Ensures consistent typography, spacing, and responsive layout adjustments (via media queries)
 * for the project banner, ensuring proper display of authorship and academic details on all devices.
 */

@import '../styles/Home.module.scss';

.header_container {
  width: 100%;
  display: flex;
  color: $color4;
  padding: $navPadTop;
  padding-left: 70px;
  padding-right: 70px;
  min-height: $tabSize;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 10;
  background-color: $color1;
  flex-shrink: 0;

  @media screen and (max-width: 420px) {
    padding-top: $navPadTop * 2 + $tabSize;
    padding-left: 10px;
    padding-right: 10px;
  }

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >#title {
      font-size: 2rem;
      font-weight: bold;
    }

    >div {
      font-size: 0.9rem;
      line-height: 1.4;
    }
  }

  .author_link {
    color: $color4;
    text-decoration: none;
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:visited {
      color: $color4;
    }

    &:active {
      color: $color4;
    }
  }
}