@import '../styles/Home.module.scss';

.header_container {
  width: 100%;
  display: flex;
  color: $color4;
  padding: $navPadTop;
  padding-left: 70px;
  padding-right: 70px;
  min-height: $tabSize;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 10;
  background-color: $color1;
  flex-shrink: 0;

  @media screen and (max-width: 420px) {
    padding-top: $navPadTop * 2 + $tabSize;
    padding-left: 10px;
    padding-right: 10px;
  }

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >#title {
      font-size: 2rem;
      font-weight: bold;
    }

    >div {
      font-size: 0.9rem;
      line-height: 1.4;
    }
  }

  .author_link {
    color: $color4;
    text-decoration: underline;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    &:visited {
      color: $color4;
    }

    &:active {
      color: $color4;
    }
  }
}