/**
 * Author: Amey Thakur
 * GitHub: https://github.com/Amey-Thakur
 *
 * Author: Mega Satish
 * GitHub: https://github.com/msatmod
 *
 * Author: Hasan Rizvi
 * GitHub: https://github.com/rizvihasan
 *
 * Project: QUADTREE-VISUALIZER
 * Group: Phi-CS-73
 * Batch: 2022
 * Repo: https://github.com/Amey-Thakur/QUADTREE-VISUALIZER
 * Date: 2022-04-25
 * License: MIT
 *
 * Developed as part of the BE Major-Project @ Terna Engineering College.
 *
 * Defines the style rules for the `SimulationCanvas` container.
 * Manages the positioning of the canvas element within the simulation viewport,
 * ensuring it occupies the available space while maintaining the correct aspect ratio.
 */

@import "../styles/Home.module.scss";

.canvas_container {
  width: 100%;
  height: 100%;
  padding: 25px;

  display: flex;

  .canvas_wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    canvas {
      margin: auto;
    }
  }
}