# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Jupyter
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints
venv/
env/
.env

# OS Files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.bak
*.sav
*.old
~*
