$color1: #1a1a2e;
$color2: #610b8f;
$color3: #8027ce;
$color4: #b278ff;
$textColor: #fff;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  textColor: $textColor;
}
