/**
 * Author: Amey Thakur
 * GitHub: https://github.com/Amey-Thakur
 *
 * Author: Mega Satish
 * GitHub: https://github.com/msatmod
 *
 * Author: Hasan Rizvi
 * GitHub: https://github.com/rizvihasan
 *
 * Project: QUADTREE-VISUALIZER
 * Group: Phi-CS-73
 * Batch: 2022
 * Repo: https://github.com/Amey-Thakur/QUADTREE-VISUALIZER
 * Date: 2022-01-19
 * License: MIT
 *
 * Developed as part of the BE Major-Project @ Terna Engineering College.
 *
 * Defines the global stylesheet for the application. Sets the fundamental CSS reset rules,
 * imports the project-wide font ('Play'), and establishes the base typography settings
 * for <html> and <body> elements to ensure visual consistency across all components.
 */

@import "./theme.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  font-family: 'Play', sans-serif !important;
  box-sizing: border-box;
}

html,
body {
  background-color: $color1;
  padding: 0;
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100vh;
  font-family: 'Play', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: 'Play', sans-serif !important;
}