@import "./theme.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  font-family: 'Play', sans-serif !important;
  box-sizing: border-box;
}

html,
body {
  background-color: $color1;
  padding: 0;
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100vh;
  font-family: 'Play', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  font-family: 'Play', sans-serif !important;
}
