@import "./theme.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html,
body {
  background-color: $color1;
  padding: 0;
  margin: 0;
  font-family: 'Play', sans-serif;
}

main {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
